.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: rgb(135, 222, 151);
}

.dialogsitems .dialogs {
    padding: 10px;
    color: white;
}

.dialogsitems .active {
    color: gold;
}
.messages {
    padding: 10px;
}

.messages .messages {
    color: white;
}
